@import "./variables.scss";

.btn {
    display: inline-block;
    font-weight: 800;
    color: rgb(66, 66, 66);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 999px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: $font-size-lg;
    cursor: pointer;

    font-size: $font-size-md;
    padding: 0.75rem 1.5rem;

    @media screen and (min-width: $md) {
        padding: 17px 40px;
        font-size: $font-size-lg;
    }
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.5;
}

.purple {
    color: #ffffff;
    background-image: linear-gradient(99deg, #4f56e6 2%, #7f84ff 64%, #a28aff);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 1px;
}

.purple:hover {
    background-color: #ff788a;
}
